/* GLOBAL */
/* HEADER */
.navbar-default {
  background-color: #338BFF;
  color: #fff;
}

.navbar-default-color {
  color: #fff;
}

.navbar-default-toggle-color {
  background-color: #fff;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;..");
}

.nav-item .nav-link {
  color: #fff;
}

.nav-item-small {
  font-size: 11px;
  margin-top: 5px;
}

/* CONTENT WRAP */
.wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
}

.wrap-content {
  margin: 20px;
}

.wrap-content .card {
  margin: 20px;
}

.card {
  flex-grow: 1;
  text-align: center;
  margin-top: 20px;
}

.card .text-content {
  position: absolute;
  color: #fff;
  left: 0;
  right: 0;
  top: 25%;
  bottom: 30%;
  background-color: rgba(0,0,0,.9);
}

.card .text-content  {
  font-size: 3vmin;
}

/* SUBSCRIBE ROW */
.subscribe {
  width: 100%;
  height: 200px;
  background: url("../img/concerts/concert.jpg");
  background-position-y: -190px;
  margin-bottom: 60px;
  margin-top: 60px;
}

.subscribe-content {
  width: 100%;
  height: 100%;
  opacity: 0.6;
  filter: alpha(opacity=60);
  background-color: #000;
}

.subscribe-content a h1 {
  font-weight: bold;
  color: #fff;
  text-align: center;
  padding-top: 80px;
}

.subscribe-content a:hover {
  color: #dc7f22;
}

/* TICKETS WRAP-PRICE DESCRIPTION */
.wrap-product-price {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid #484848;
  margin-bottom: 10px;
}

.wrap-product-price .column:first-child {
  border-right: 1px solid #484848;
  height: 100px;
  padding-right: 10px;
  padding-left: 20px;
}

.wrap-product-price h6 {
  margin-top: 45px;
}

.wrap-product-price .checkout-btn {
  width: 200px;
  height: 60px;
  padding: 18px 20px;
  border-radius: 50px;
  border: transparent;
  color: #fff;
  margin: 20px;
  background-color: #42c11d;
}

/* BUY TICKET */
.arena {
  width: 90%;
  height: 500px;
  position: relative;
  display: inline-block;
  border: 1px solid #000;
  margin-top: 50px;
  left: 5%;
  margin-bottom: 100px;
}

.arena-stage{
  width: 80%;
  height: 250px;
  border: 1px solid #000;
  border-radius: 100px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.arena-stage h1{
  text-align: center;
  padding-top: 100px;
}

.round {
  display:inline-block;
}

.round label {
  width: 8px;
  height: 8px;
  background-color: #ccc;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
}

.round label:after {
  width: 12px;
  height: 6px;
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  left: 2px;
  opacity: 0;
  position: absolute;
  top: 4px;
}

.round input[type="checkbox"] {
  visibility: hidden;
  float: left;
  position: absolute;
}

.round input[type="checkbox"]:checked + label {
  background-color: #66bb6a;
  border-color: #66bb6a;
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.arena .top {
  position: absolute;
  top: 3%;
}

.arena .bottom {
  display: inline-block;
  bottom: 5%;
  margin-top: 100px;
}

.border-bottom{
  border-bottom: 1px solid #000;
  padding-bottom: 15px;
}

.rows{
  position: relative;
  display: block;
}

.rows span:first-child{
  position: relative;
  right: 40%;
}

.rows span:last-child{
  position: relative;
  left: 40%;
}

.content{
  display: flex;
  justify-content: space-around;
}

.contact-form{
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
}

/* FOOTER */
.footer {
  width: 100%;
  background-color: #484848;
  text-align: center;
  color: #fff;
}

.footer a {
  color: #fff;
}

.footer a:hover {
  color: #dc7f22;
}

.footer-container {
  color: #fff;
  height: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
}

.footer-container .row ul {
  width: 200px;
  margin-top: 20px;
}

.footer-container .row ul li {
  padding-top: 5px;
  font-size: 20px;
}

.footer-container .row ul li a {
  color: #fff;
  padding-left: 10px;
}

.footer-container .row ul li a:hover {
  color: #dc7f22;
}

.footer-container .row:last-child {
  text-align: center;
}

.footer-container .row:first-child ul li:nth-child(even) {
  float: left;
}
